@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header__menu {
        display: flex;
    }
    
    .header__list {
        position: absolute;
        top: 112px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 200px;
        height: 300px;
        z-index: 1;
        transform: translateX(-200%);
        transition: 600ms;
    }

    .header__menu:focus~.header__list {
        transform: translateX(0);
        background: url(../img/header-list.png);
        /* или вариант с цветом: #ef4f2371 */
    }

    .header__link {
        position: static;
        padding: 12px 30px;
        /* padding - просто мне понравилось */
    }

    .header__link:hover {
        color: var(--white);
        transition: 500ms;
    }

    .header__desktop-img {
        object-fit: contain;
    }

    .cards .container {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
    }

    .card {
        max-width: 450px;
        width: 100%;
    }

    .news__block {
        flex-direction: column;
        align-items: center;
    }

    .news__block-desc {
        max-width: 984px;
        text-align: center;
    }

    .news__block-img {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }

    .footer__list {
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
    }

    .footer__link {
        padding: 0 15px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .cards .container {
        row-gap: 20px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__desktop-img {
        display: none;
    }

    .header__mobile-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .cards .container {
        padding: 0 15px;
        /* не понятно, у макета width 100процентов или имеет фиксированную ширину 1400пкс? */
        /* ТУТ PADDING НЕ НАДО УБИРАТЬ, В МОБИЛЬНОЙ ВЕРСИИ ДИЗАЙН-КРАСОТА ЛОМАЕТСЯ :D */
    }

    .news__bg {
        padding: 0 20px;
    }

    .block__desc-desktop {
        display: none;
        /* из-за слишком много текста */
    }
    
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__logo {
        max-width: 200px;
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .footer__link {
        text-align: center;
    }

}
